{% extends 'layout.html' %}

{% block title %}{{ block.super }}Soda Fountain - Menus All{% endblock %}

{% block content %}
<div class="content container">
    <div class="row">
        <div class="col-md-8">
            <div class="post">
                {% for menu in menus %}
                    {% if menu.expiration_date %}
                        <div class="date">
                            Expires on: {{ menu.expiration_date }}
                        </div>
                    {% endif %}
                
              
                    <h1>
                        {% if user.is_authenticated %}
                            <a class="btn btn-default" href="{% url 'menu:menu_edit' pk=menu.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
                        {% endif %}
                        <a href="{% url 'menu:menu_detail' pk=menu.pk %}">{{ menu.season }}</a>
                    </h1>
                    <p>{{ menu.items.all|join:", "}}</p>
                    <hr width="50%" align="left">
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}