{% extends 'layout.html' %}
{% load static from staticfiles %}
{% block title %}{{ block.super }} - Edit Menu{% endblock %}

{% block content %}
<div class="page-header">
    {% if user.is_authenticated %}
        <a href="{% url 'menu_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
    {% endif %}
</div>
<div class="content container">
    <div class="row">
        <div class="col-md-8">
            <h1>Edit menu</h1>
            <form method="POST" class="menu-form">{% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="save btn btn-default">Save</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}